In [3]:
import pandas as pd

classifica = pd.read_excel(r'Hvi_retorno\Retorno - 11 - Novembro\RetornoTeste.xlsx')
classifica.head()

,Consulta de Classificação HVI,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fardo,Peso,Fardão,Fazenda,Talhão,Variedade,Pre,Bloco,Roman,Tipo,...,Classe,Tp.Visual,Cat,Esp.,Dt.Importação,Ent.C.,Sai.C,Ind.C.,GS1Fardo,UN
2,243.301,"217,6",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,13,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433011,37
3,243.302,"214,6",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,12,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433028,36
4,243.303,"207,1",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,13,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433035,37

In [4]:
classifica.columns = classifica.iloc[1]
classifica.head()

1,Fardo,Peso,Fardão,Fazenda,Talhão,Variedade,Pre,Bloco,Roman,Tipo,...,Classe,Tp.Visual,Cat,Esp.,Dt.Importação,Ent.C.,Sai.C,Ind.C.,GS1Fardo,UN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fardo,Peso,Fardão,Fazenda,Talhão,Variedade,Pre,Bloco,Roman,Tipo,...,Classe,Tp.Visual,Cat,Esp.,Dt.Importação,Ent.C.,Sai.C,Ind.C.,GS1Fardo,UN
2,243.301,"217,6",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,13,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433011,37
3,243.302,"214,6",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,12,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433028,36
4,243.303,"207,1",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,13,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433035,37

In [5]:
classifica.drop([0, 1], inplace=True)
classifica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 2 to 3655
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fardo          3654 non-null   object
 1   Peso           3654 non-null   object
 2   Fardão         3654 non-null   object
 3   Fazenda        3654 non-null   object
 4   Talhão         3654 non-null   object
 5   Variedade      3654 non-null   object
 6   Pre            3654 non-null   object
 7   Bloco          3654 non-null   object
 8   Roman          3654 non-null   object
 9   Tipo           3654 non-null   object
 10  Asp            0 non-null      object
 11  Fibra          3654 non-null   object
 12  Mic            3654 non-null   object
 13  Res            3654 non-null   object
 14  Mat            3654 non-null   object
 15  Rd             3654 non-null   object
 16  +b             3654 non-null   object
 17  Lf             3654 non-null   object
 18  Csp            3654 non-null   object
 19  Sci            3654 non-null   object
 20  Sfc            3654 non-null   object
 21  Ui             3654 non-null   object
 22  Area           3654 non-null   object
 23  Count          3654 non-null   object
 24  Elg            3654 non-null   object
 25  Status         3654 non-null   object
 26  UHM            3654 non-null   object
 27  Classe         0 non-null      object
 28  Tp.Visual      3654 non-null   object
 29  Cat            0 non-null      object
 30  Esp.           0 non-null      object
 31  Dt.Importação  3654 non-null   object
 32  Ent.C.         0 non-null      object
 33  Sai.C          0 non-null      object
 34  Ind.C.         0 non-null      object
 35  GS1Fardo       3654 non-null   object
 36  UN             3654 non-null   object
dtypes: object(37)
memory usage: 1.0+ MB

In [6]:
df_clone = pd.DataFrame(classifica.loc[:, ['Variedade', 'Mic', 'Res', 'UHM', 'Tp.Visual', 'UN']])
df_clone.head()

1 Variedade   Mic    Res   UHM Tp.Visual  UN
2  IMA 2106  4,54  29,10  1140      31-4  37
3  IMA 2106  4,53  30,10  1120      31-4  36
4  IMA 2106  4,67  31,00  1160      31-4  37
5  IMA 2106  4,59  30,80  1190      31-4  38
6  IMA 2106  4,61  30,00  1130      31-4  36

In [7]:
#df_clone.groupby('Bloco')['UN'].value_counts()
df_clone['Variedade'].value_counts()

Variedade
IMA 2106    2308
FM 906      1185
944 GL       161
Name: count, dtype: int64

In [8]:
df_clone['Mic'] = df_clone['Mic'].str.replace(',', '.').astype(float)

In [9]:
df_clone['Mic_baixa_resistencia'] = ~ df_clone['Mic'].between(3.5, 6, inclusive='both')
df_clone.head()

1 Variedade   Mic    Res   UHM Tp.Visual  UN  Mic_baixa_resistencia
2  IMA 2106  4.54  29,10  1140      31-4  37                  False
3  IMA 2106  4.53  30,10  1120      31-4  36                  False
4  IMA 2106  4.67  31,00  1160      31-4  37                  False
5  IMA 2106  4.59  30,80  1190      31-4  38                  False
6  IMA 2106  4.61  30,00  1130      31-4  36                  False

In [10]:
df_clone['Mic_baixa_resistencia'].value_counts()

Mic_baixa_resistencia
False    3654
Name: count, dtype: int64

In [11]:
df_clone['Tp.Visual'].value_counts()

Tp.Visual
31-2    1495
31-4    1242
31-3     518
41-4     332
41-5      62
34-4       5
Name: count, dtype: int64

In [12]:
df_clone['Res'] = df_clone['Res'].str.replace(',', '.').astype(float)

In [13]:
df_clone['baixa_resistencia'] = ~ df_clone['Res'].between(28, 35, inclusive='both')
df_clone.head()

1,Variedade,Mic,Res,UHM,Tp.Visual,UN,Mic_baixa_resistencia,baixa_resistencia
2,IMA 2106,4.54,29.1,1140,31-4,37,False,False
3,IMA 2106,4.53,30.1,1120,31-4,36,False,False
4,IMA 2106,4.67,31.0,1160,31-4,37,False,False
5,IMA 2106,4.59,30.8,1190,31-4,38,False,False
6,IMA 2106,4.61,30.0,1130,31-4,36,False,False

In [14]:
df_clone['baixa_resistencia'].value_counts()

baixa_resistencia
False    3569
True       85
Name: count, dtype: int64

In [15]:
df_baixa_Resistencia = pd.DataFrame(df_clone[df_clone['baixa_resistencia'] == True].value_counts('Tp.Visual'))

In [16]:
df_baixa_Resistencia.iterrows()

In [17]:

for tipoVisual, nome  in df_baixa_Resistencia.iterrows():
    tipoVisual = df_clone[(df_clone['baixa_resistencia'] == True) & (df_clone['Tp.Visual'] == tipoVisual)].value_counts(['UN'])  
    print(nome, tipoVisual)
    print('\n')

count    66
Name: 31-2, dtype: int64 UN
35    38
36    25
37     2
38     1
Name: count, dtype: int64


count    12
Name: 31-4, dtype: int64 UN
36    10
37     2
Name: count, dtype: int64


count    7
Name: 31-3, dtype: int64 UN
35    5
36    1
37    1
Name: count, dtype: int64

In [18]:
df_resistencia = pd.DataFrame(df_clone[df_clone['baixa_resistencia'] == False].value_counts('Tp.Visual'))

In [19]:
df_resistencia.iterrows()

In [20]:
for tipoVisual, nome  in df_resistencia.iterrows():
    tipoVisual = df_clone[(df_clone['baixa_resistencia'] == False) & (df_clone['Tp.Visual'] == tipoVisual)].value_counts(['UN'])
    print(nome, tipoVisual)
    print('\n')

count    1429
Name: 31-2, dtype: int64 UN
36    516
37    511
35    254
38    141
39      7
Name: count, dtype: int64


count    1230
Name: 31-4, dtype: int64 UN
37    718
36    303
35    101
38     97
39     11
Name: count, dtype: int64


count    511
Name: 31-3, dtype: int64 UN
37    251
36    162
38     59
35     36
39      3
Name: count, dtype: int64


count    332
Name: 41-4, dtype: int64 UN
37    169
38     83
36     52
39     20
35      8
Name: count, dtype: int64


count    62
Name: 41-5, dtype: int64 UN
37    40
38    12
36     6
39     4
Name: count, dtype: int64


count    5
Name: 34-4, dtype: int64 UN
37    3
36    1
38    1
Name: count, dtype: int64