In [1]:
import pandas as pd

classifica = pd.read_excel('/home/nisiohelande/Documents/Teste-Apresentação.xlsx')
classifica.head()

,Consulta Geral de Fardos,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Número,Peso,Produtor,Tipo,Color,Prensa,Data Benef,Talhão,Fardão,Bloco,N.Fisc,Data Saida,Contrato,Variedade,Endereço,Cliente Destino,Cliente,Numero Fardo,NF Fardoes
2,"294,901",186.7,WALDEMIR IVAL LOTO,62-6,.,1,29/07/2025,23-24-25,1,9,NaN,NaN,NaN,FM 978 GLTP,ROD BR 174 KM 14,NaN,NaN,00201294901,0
3,"294,902",192.3,WALDEMIR IVAL LOTO,41-4,.,1,29/07/2025,23-24-25,1,7,NaN,NaN,NaN,FM 978 GLTP,ROD BR 174 KM 14,ADM INTERNATIONAL SARL,WALDEMIR IVAL LOTO,00201294902,0
4,"294,903",182.0,WALDEMIR IVAL LOTO,62-6,.,1,29/07/2025,23-24-25,1,9,NaN,NaN,NaN,FM 978 GLTP,ROD BR 174 KM 14,NaN,NaN,00201294903,0

In [2]:
classifica.columns = classifica.iloc[1]
classifica.drop([0, 1], inplace=True)
classifica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19189 entries, 2 to 19190
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Número           19189 non-null  object
 1   Peso             19189 non-null  object
 2   Produtor         19189 non-null  object
 3   Tipo             19050 non-null  object
 4   Color            19050 non-null  object
 5   Prensa           19189 non-null  object
 6   Data Benef       19189 non-null  object
 7   Talhão           19189 non-null  object
 8    Fardão          19189 non-null  object
 9   Bloco            18100 non-null  object
 10  N.Fisc           0 non-null      object
 11  Data Saida       0 non-null      object
 12  Contrato         0 non-null      object
 13  Variedade        19189 non-null  object
 14  Endereço         19189 non-null  object
 15  Cliente Destino  3740 non-null   object
 16  Cliente          3740 non-null   object
 17  Numero Fardo     19189 non-null  object
 18  NF Fardoes       19189 non-null  object
dtypes: object(19)
memory usage: 2.8+ MB

In [5]:
classifica.columns

Index(['Número', 'Peso', 'Produtor', 'Tipo', 'Color', 'Prensa', 'Data Benef',
       'Talhão', ' Fardão', 'Bloco', 'N.Fisc', 'Data Saida', 'Contrato',
       'Variedade', 'Endereço', 'Cliente Destino', 'Cliente', 'Numero Fardo',
       'NF Fardoes'],
      dtype='object', name=1)

In [16]:
df_clone = pd.DataFrame(classifica.loc[:, ['Número', 'Bloco', 'Talhão', 'Data Benef', 'Tipo',  'Variedade']])
df_clone['Data Benef'] = pd.to_datetime(df_clone['Data Benef'], format='%d/%m/%Y', errors="coerce")
df_clone.head()

1
Número        object
Bloco         object
Talhão        object
Data Benef    object
Tipo          object
Variedade     object
dtype: object