In [1]:
import pandas as pd
from funcoes import Funcoes

classifica = pd.read_excel(r'Hvi_retorno\Retorno - 11 - Novembro\RetornoTeste.xlsx')
classifica.head()

,Consulta de Classificação HVI,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fardo,Peso,Fardão,Fazenda,Talhão,Variedade,Pre,Bloco,Roman,Tipo,...,Classe,Tp.Visual,Cat,Esp.,Dt.Importação,Ent.C.,Sai.C,Ind.C.,GS1Fardo,UN
2,243.301,"217,6",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,13,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433011,37
3,243.302,"214,6",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,12,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433028,36
4,243.303,"207,1",132,FAZ. INDEPENDENCIA WALDEMIR,7,IMA 2106,1,13,21,31-2,...,NaN,31-4,NaN,NaN,05/08/2024,NaN,NaN,NaN,00078986797612433035,37

In [2]:
classifica.columns = classifica.iloc[1]
classifica.drop([0, 1], inplace=True)
classifica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 2 to 3655
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fardo          3654 non-null   object
 1   Peso           3654 non-null   object
 2   Fardão         3654 non-null   object
 3   Fazenda        3654 non-null   object
 4   Talhão         3654 non-null   object
 5   Variedade      3654 non-null   object
 6   Pre            3654 non-null   object
 7   Bloco          3654 non-null   object
 8   Roman          3654 non-null   object
 9   Tipo           3654 non-null   object
 10  Asp            0 non-null      object
 11  Fibra          3654 non-null   object
 12  Mic            3654 non-null   object
 13  Res            3654 non-null   object
 14  Mat            3654 non-null   object
 15  Rd             3654 non-null   object
 16  +b             3654 non-null   object
 17  Lf             3654 non-null   object
 18  Csp            3654 non-null   object
 19  Sci            3654 non-null   object
 20  Sfc            3654 non-null   object
 21  Ui             3654 non-null   object
 22  Area           3654 non-null   object
 23  Count          3654 non-null   object
 24  Elg            3654 non-null   object
 25  Status         3654 non-null   object
 26  UHM            3654 non-null   object
 27  Classe         0 non-null      object
 28  Tp.Visual      3654 non-null   object
 29  Cat            0 non-null      object
 30  Esp.           0 non-null      object
 31  Dt.Importação  3654 non-null   object
 32  Ent.C.         0 non-null      object
 33  Sai.C          0 non-null      object
 34  Ind.C.         0 non-null      object
 35  GS1Fardo       3654 non-null   object
 36  UN             3654 non-null   object
dtypes: object(37)
memory usage: 1.0+ MB

In [3]:
df_clone = pd.DataFrame(classifica.loc[:, ['Variedade', 'Mic', 'Res', 'UHM', 'Tp.Visual', 'UN']])
df_clone.head()

1 Variedade   Mic    Res   UHM Tp.Visual  UN
2  IMA 2106  4,54  29,10  1140      31-4  37
3  IMA 2106  4,53  30,10  1120      31-4  36
4  IMA 2106  4,67  31,00  1160      31-4  37
5  IMA 2106  4,59  30,80  1190      31-4  38
6  IMA 2106  4,61  30,00  1130      31-4  36

In [4]:
df_clone['Variedade'].value_counts()

Variedade
IMA 2106    2308
FM 906      1185
944 GL       161
Name: count, dtype: int64

In [5]:
df_clone['Mic'] = df_clone['Mic'].str.replace(',', '.').astype(float)
df_clone['Res'] = df_clone['Res'].str.replace(',', '.').astype(float)

In [6]:
# Cria coluna com as amostras que estão fora do intervalo de Micronaire 3,5 a 4,9

df_clone['Mic_fora_padrao'] = ~ df_clone['Mic'].between(3.5, 4.9, inclusive='both')
df_clone['baixa_resistencia'] = ~ df_clone['Res'].between(28, 35, inclusive='both')
df_clone.head()

1,Variedade,Mic,Res,UHM,Tp.Visual,UN,Mic_fora_padrao,baixa_resistencia
2,IMA 2106,4.54,29.1,1140,31-4,37,False,False
3,IMA 2106,4.53,30.1,1120,31-4,36,False,False
4,IMA 2106,4.67,31.0,1160,31-4,37,False,False
5,IMA 2106,4.59,30.8,1190,31-4,38,False,False
6,IMA 2106,4.61,30.0,1130,31-4,36,False,False

In [7]:
df_clone['Mic_fora_padrao'].value_counts()

Mic_fora_padrao
False    3521
True      133
Name: count, dtype: int64

In [8]:
df_clone['baixa_resistencia'].value_counts()

baixa_resistencia
False    3569
True       85
Name: count, dtype: int64

In [9]:
# Verifica se tem alguma amostra fora do padrão de Micronaire e com baixa resistência.

#Funcoes.Mic_fora_padrao_baixa_resistencia(df_clone)

Funcoes.mic_fora_padrao_baixa_resistencia(df_clone)

31-2	3
36	3

Arquivo funcoes.py carregado

In [10]:
# Verifica quais são as amostras que estão dentro do intervalo de **Micronaire `3,5 a 4,9`** e que apresentam **Resistência abaixo de `28`**.

Funcoes.mic_padrao_baixa_resistencia(df_clone)

31-2	63
35	38
36	22
37	2
38	1

31-4	12
36	10
37	2

31-3	7
35	5
36	1
37	1

In [11]:
# Verifica quais são as amostras que estão fora do intervalo de **Micronaire `3,5 a 4,9`** e que apresentam **Resistência acima de 28**.

Funcoes.mic_fora_padrao_resistencia(df_clone)

31-4	64
35	4
36	17
37	39
38	4

31-2	51
35	2
36	23
37	23
38	3

31-3	15
36	3
37	6
38	6

In [12]:
# Verifica quais são as amostras que estão dentro do intervalo de **Micronaire `3,5 a 4,9`** e que apresentam **Resistência acima de `28`**.

Funcoes.mic_padrao_resistencia(df_clone)

31-2	1378
35	252
36	493
37	488
38	138
39	7

31-4	1166
35	97
36	286
37	679
38	93
39	11

31-3	496
35	36
36	159
37	245
38	53
39	3

41-4	332
35	8
36	52
37	169
38	83
39	20

41-5	62
36	6
37	40
38	12
39	4

34-4	5
36	1
37	3
38	1