In [1]:
import pandas as pd

classifica = pd.read_excel('verificaPendentes.xlsx')
classifica.head()

   Unnamed: 0  Fardão  Bordadura  Vinculadas
0           1     3.0        NaN           3
1           2     4.0        NaN           4
2           3     6.0        NaN           6
3           4     7.0        NaN           7
4           5    14.0        NaN          14

In [6]:
def remove_matching_values(classifica, Bordadura, Fardão):
  
    fardos_iguais = set(classifica['Bordadura']).intersection(classifica['Fardão'])

    for fardo in fardos_iguais:
        classifica['Bordadura'] = classifica['Bordadura'].replace(fardo, pd.NA)
        classifica['Fardão'] = classifica['Fardão'].replace(fardo, pd.NA)
        
    return classifica

classifica.head()

   Unnamed: 0  Fardão  Bordadura  Vinculadas
0           1     3.0        NaN           3
1           2     4.0        NaN           4
2           3     6.0        NaN           6
3           4     7.0        NaN           7
4           5    14.0        NaN          14

In [3]:
classifica = remove_matching_values(classifica, 'Bordadura', 'Fardão')

classifica.to_excel('valores_restantes.xlsx', index=False)

In [4]:
classifica = pd.read_excel('valores_restantes.xlsx')
classifica.head()

   Unnamed: 0  Fardão  Bordadura  Vinculadas
0           1     3.0        NaN           3
1           2     4.0        NaN           4
2           3     6.0        NaN           6
3           4     7.0        NaN           7
4           5    14.0        NaN          14

In [7]:
def remove_matching_values(classifica, Bordadura, Fardão):
   
    unique_values = set(classifica['Vinculadas']).intersection(classifica['Fardão'])

    for value in unique_values:
        classifica['Vinculadas'] = classifica['Vinculadas'].replace(value, pd.NA)
        classifica['Fardão'] = classifica['Fardão'].replace(value, pd.NA)
        
    return classifica

In [8]:
df = remove_matching_values(classifica, 'coluna1', 'coluna2')
def remove_nan_and_shift_up(classifica):
    for col in classifica.columns:
        classifica['Fardão'] = classifica['Fardão'].dropna().reset_index(drop=True)
    return classifica


df = remove_nan_and_shift_up(classifica)

df.to_excel('valores_restantes.xlsx', index=False)

print("Valores restantes salvos em 'valores_restantes.xlsx'")

Valores restantes salvos em 'valores_restantes.xlsx'